body {
  margin: 0;
  background-color: #0d1117;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes green-to-yellow {
  from {
    color: #00ca4e;
  }
  to {
    color: #f7bd45;
  }
}

@keyframes blue-to-white {
  from {
    color: #7ec6f1;
  }
  to {
    color: #fff;
  }
}
